@using Vidly.Controllers
@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@if (!Model.Any())
{
    <h3>There is no movie</h3>
}
else
{
    <ul>

        @foreach (var movie in Model)
        {
            <li>@Html.ActionLink(movie.Name, "Details", "Movies", new { id = movie.Id }, null) </li>
        }
    </ul>
}