@using Vidly.Controllers

@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (!Model.Any())
{
    <p>There is no customer</p>
}
else
{
    <ul>
        @foreach (var customer in Model)
        {
            <li>@Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null) </li>
        }
    </ul>
}